@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
@import './common.scss';
@import './label.scss';

$font-family: Helvetica Neue,
Helvetica,
PingFang SC,
Hiragino Sans GB,
Microsoft YaHei,
Arial,
sans-serif;

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: $font-family;
}

input,
button {
  font-family: $font-family;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

hr {
  border: 1px solid $color-divider;
  border-top: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

// 文字状态颜色
.text-success {
  color: $color-success !important;
}

.text-error {
  color: $color-error !important;
}

.text-pending {
  color: $color-pending !important;
}

.text-primary {
  color: $color_primary_blue !important;
}

.text-fail {
  color: $color-failed !important;
}

// 背景状态颜色
.background-color-success {
  background-color: $color-success;
}

.background-color-error {
  background-color: $color-error;
}

.background-color-pending {
  background-color: $color-pending;
}

.background-color-primary {
  background-color: $color_primary_blue;
}

.background-color-fail {
  background-color: $color-failed;
}

.warn-content {
  background: rgba(66, 185, 131, .1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;

  a {
    color: #42b983;
    font-weight: 600;
  }
}

// main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

// refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

// === style for new design

// root element of page.
.pageRoot {
  margin: 0;
  padding: 35px 20px;

  &>.header {
    height: 58px;
    padding: 10px 0;
    border-bottom: solid 1px #EBEEF5;
    margin-bottom: 30px;

    &>.rightActions {
      float: right;
    }

    .title {
      color: #303846;
      font-size: 20px;
      line-height: 38px,
    }
  }

  &>.content {}

  &>.footer {
    padding: 40px;
    text-align: center;

    .el-button {
      width: 90px;
      padding: 10px 0;
    }
  }
}

// page commmon box
.page-container {
  padding: 20px;
}

.page-header {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: solid 1px #EBEEF5;

  .title {
    flex: 1;
    line-height: 36px;
    font-size: 20px;
    color: #303846;
  }

  .notes {
    flex: 1;
    font-size: 14px;
    color: #ABABAB;
  }

  .right-actions {
    .el-button+.el-button {
      margin-left: 8px;
    }
  }
}

.page-content {
  margin-top: 20px;
}

.search-form {
  padding: 20px 0;

  .el-form-item {
    margin-bottom: 12px;

    .el-form-item__label {
      font-weight: 400;
    }
  }

  .el-input,
  .el-select,
  .el-cascader,
  .el-date-editor {
    width: 100%;
  }

  .action-group {
    padding: 15px 0;
    .el-button {
      margin-left: 0;
    }
    .el-button:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.search-table {
  padding: 10px 0;

  .el-table {
    .el-button--text {
      margin: 0;
      padding: 5px;
    }
  }
}

.search-pagination {
  width: 100%;
  padding: 22px 12px;
  margin: 0;
  text-align: right;
  border: 1px solid #ebeef5;
  border-top: none;

  /deep/ .el-pagination__jump {
    .el-input__inner[type='number'] {
      padding-left: 0;
    }
  }
}

.tablehead-options-popper {
  .thPopTopDiv {
    padding: 4px 6px;
    margin-bottom: 6px;
  }

  .thDragGroup {
    margin-bottom: 6px;

    .thDragItem {
      padding: 4px 6px;
      margin: 0;
      display: block;

      &:hover {
        background-color: #f5f7fa;
      }
    }
  }

  .thDragGroupGhost {
    font-weight: bold;
  }

  .thActionsDiv {
    text-align: center;
  }
}

.tablehead-options-popper-trigger {
  margin-bottom: 15px;
}

.detail-box {
  padding: 16px 0;
  line-height: 1.4;
  font-size: 14px;
  border-bottom: 1px solid #eee;

  .box-tit {
    font-size: 15px;
    color: #aaa;
  }

  .box-cnt {
    margin-top: 8px;
    padding: 0 15px;

    .el-row {
      padding: 4px 0;
    }

    .label {
      font-weight: 400;
    }

    .txt {
      color: #777;

      a {
        color: #409eff;
        text-decoration: underline;
      }
    }

    .table {
      display: flex;

      .label {
        display: block;
        width: 158px;
        text-align: right;
      }

      .txt {
        flex: 1;
      }
    }
  }
}

table.commonTable {
  border-collapse: collapse;
  border-spacing: 0;

  td,
  th {
    border: 1px solid #EBEEF5;
    padding: 8px;
  }
}
