/***************** 颜色 ********************/
$color-c0: #FFFFFF; // 白色
$color-c1: #303846; // 标题、正文
$color-c2: #6A7485; // 次要文字、表头
$color-c3: #A1A8B5; // 未选择文字
$color-c4: #C0C4CC; // 占位文字
$color-c5: #EBEEF5; // 分割线、背景色
$color-c6: #DCDFE6; // 表单描边颜色
$color-c7: #FBFCFF; // 色块填充色

$color-ca: #3782FF; // 品牌色
$color-cb: #FE8932; // 辅助色  用于文字
$color-cc: #E6A23C; // 提示色
$color-cd: #F56C6C; // 警示色
$color-ce: #67C23B; // 成功色

$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

$color-success: #67C23A;
$color-pending: #FF932B;
$color-error: #F56C6C;
$color-failed: #C0C4CC;

$color-divider: #EBEEF5;
$color-text-primary: #606266;
$color-text-secondary: #909399;

$color_primary_blue: #419EFF;

//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;


// ===== size =====

$formItemWidthM: 386px; //medium 180 * 2 + 26
$formItemWidthS: 180px; // small
$leftSelectWidth: 135px;